<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Delete Review</title>
</head>
<body>
    <h1>Delete Review</h1>
    <p>Are you sure you want to delete the review for "{{ review.drink }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete Review</button>
    </form>
</body>
</html>
